@font-face {
  font-family: "iconfont"; /* Project id 2943946 */
  src: url('iconfont.woff2?t=1637571127390') format('woff2'),
       url('iconfont.woff?t=1637571127390') format('woff'),
       url('iconfont.ttf?t=1637571127390') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuqian-:before {
  content: "\e646";
}

.icon-mulu:before {
  content: "\e60a";
}

.icon-fenleimulu:before {
  content: "\e6a1";
}

.icon-24gl-bookmarks2:before {
  content: "\e8ad";
}

.icon-hacker:before {
  content: "\e9f2";
}

.icon-dingbu:before {
  content: "\e600";
}

.icon-huidingbu:before {
  content: "\e620";
}

.icon-github:before {
  content: "\ea0b";
}

.icon-wangzhi-copy:before {
  content: "\e601";
}

